.container-filter {
    padding: 1rem;
    border: 1px solid;
    margin: 0rem 1rem 1rem;
    border-radius: 1rem;
}

.container-filter::before {
    content: "Filtros";
    position: absolute;
    top: 5.4rem;
    left: 50%;
    background-color: var(--ion-color-light, #f4f5f8) !important;
    padding-left: 2rem;
    padding-right: 2rem;
    transform: translateX(-45%);
}

.filter-icon {
    font-size: 1.4rem;
}

/*Time Line*/
.time-line {
    width: 93%;
    max-width: 1170px;
    margin: 0 auto;
}

.time-line::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-timeline {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10px !important;
}

.cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--color-timeline);
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

.cd-timeline-icon {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: var(--color-timeline);
    border-style: solid;
    border-width: 2px;
    background: white;
    text-align: center;
    padding: 0.4rem;
    padding-top: 9px;

    ion-icon {
        width: 100%;
        height: 100%;
    }
}

.cd-timeline-icon ion-icon {
    color: var(--color-timeline);
}

.cd-timeline-content {
    position: relative;
    background: white;
    border-radius: 0.25em;
    border-color: var(--color-timeline);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: #303e49;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}


.cd-timeline-content::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
    border-right-color: inherit;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

/*Detail table*/
/*Table CSS Styles*/
.table {
    padding: 0;
    font-size: 80%;
    margin-top: 0.5rem;
}

.row-head {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: lightgray;
    height: 2rem;
    text-align: center;
    font-weight: bold;
}

.row-head ion-col {
    height: 0.5rem;
}

.row-body ion-col {
    text-align: center;
}

.row-body ion-col:first-child {
    border-left: 1px solid gray;
}

.row-body ion-col:last-child {
    border-right: 1px solid gray;
}

.text-align-right {
    text-align: right !important;
    padding-right: 0.8rem;
}

.row-foot {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: lightgray;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}


.row-foot ion-col {
    height: 0.5rem;
}

.line-top {
    color: gray;
    position: relative;
    display: inline-block;
    font-size: 0.9rem;
}

.line-top:before,
.line-top::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: gray;
}

.line-top::before {
    left: 0;
    transform: translateX(-120%);
}

.line-top::after {
    right: 0;
    transform: translateX(120%);
}