.logo-icon {
    margin: 0 auto;
    width: 6rem;
    border-radius: 33px;
}

.middle-box {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}

.item-box {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    height: 50px;
}

h3 {
    margin: 0 auto;
    line-height: 1.1;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}
