<ion-app>
  <ion-menu side="start" content-id="main-content" *ngIf="pageSelected!='login'">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/tab1" routerDirection="forward">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Cartera</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/tabs/tab2" routerDirection="forward">
            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
            <ion-label>Clientes</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/tabs/tab3" routerDirection="forward">
            <ion-icon name="options-outline" slot="start"></ion-icon>
            <ion-label>Configuración</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="presentAlerLogout()" button>
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>


  <app-network-status (networkStatusChange)="onNetworkStatusChange($event)"></app-network-status>

  <ion-router-outlet [ngStyle]="{'top': networkStatus ? '2.5rem': '2.5rem'}" 
    [@router-outlet]="animationState"
    id="main-content"></ion-router-outlet>

</ion-app>