<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="counter==1">
      <ion-back-button text="" icon="caret-back" defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="counter > 1">
      <ion-button size="small" (click)="onPrevious()">
        <ion-icon name="chevron-back-outline"></ion-icon> Atrás </ion-button>
    </ion-buttons>
    <ion-title *ngIf="getTotalDeliveryPrice() == 0">
      Nuevo Viaje
    </ion-title>
    <ion-title *ngIf="getTotalDeliveryPrice() > 0">
      <h6 class="title-float">
        Nuevo Viaje
        <small class="price-float">
          por {{ getTotalDeliveryPrice() | COP }}
        </small>
      </h6>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" *ngIf="counter <= 3" (click)="onNext()">Siguiente <ion-icon
          name="chevron-forward-outline"></ion-icon></ion-button>
      <ion-button size="small" *ngIf="counter == 4" color="success" (click)="onFinish()">Finalizar <ion-icon
          name="chevron-forward-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="container-sliders" [class.active]="isCardActive" >
    <div class="cd-container" [ngClass]="{'portrait': !isLandscape}" *ngIf="loaded">
      <ion-button class="button-section btn1" (click)="setCounterPage(1)" [size]="isLandscape ? 'default' : 'default'"
        [color]="getProviderListSelectedLength() > 0 || counter == 1 ? 'primary' : 'medium'"
        [fill]="getProviderListSelectedLength() >0 ? 'solid':'outline'"
        [ngClass]="{'small':!isLandscape , 'disabled':getProviderListSelectedLength()  == 0}" shape="round">
        Proveedor
        <ion-badge *ngIf="getProviderListSelectedLength() > 0"
          slot="end">{{getProviderListSelectedLength()}}</ion-badge>
      </ion-button>

      <ion-button class="button-section btn2" (click)="setCounterPage(2)" [size]="isLandscape ? 'default' : 'default'"
        [color]="getClientsSelectedLength()>0 || counter == 2 ? 'primary' : 'medium'"
        [fill]="getClientsSelectedLength()>0 ? 'solid':'outline'"
        [ngClass]="{'small':!isLandscape , 'disabled':getClientsSelectedLength() == 0}" shape="round">
        Clientes
        <ion-badge *ngIf="getClientsSelectedLength() > 0" slot="end">{{getClientsSelectedLength()}}</ion-badge>
      </ion-button>

      <ion-button class="button-section btn3" (click)="setCounterPage(3)" [size]="isLandscape ? 'default' : 'default'"
        [color]="getProductCatalogsSelectedLength()>0 || counter == 3 ? 'primary' : 'medium'"
        [fill]="getProductCatalogsSelectedLength()>0 ? 'solid':'outline'"
        [ngClass]="{ 'small':!isLandscape , 'disabled':getProductCatalogsSelectedLength() == 0}" shape="round">
        Categoría
        <ion-badge *ngIf="getProductCatalogsSelectedLength() > 0" slot="end">{{getProductCatalogsSelectedLength()}}</ion-badge>
      </ion-button>

      <ion-button class="button-section btn5" (click)="counter == 4  ? onFinish() : setCounterPage(4)" [size]="isLandscape ? 'default' : 'default'"
        [color]="( getProductCatalogsSelectedLength()>0  && getClientsSelectedLength()>0 && getProviderListSelectedLength() > 0 ) || counter == 4 ? 'success' : 'medium'"
        [fill]=" counter == 4 ? 'solid':'outline'" [ngClass]="{
          'client-bag':getClientsSelectedLength() > 0,
         'item-bag':getProductCatalogsSelectedLength() > 0,
         'small':!isLandscape, 
         'disabled':counter !== 4}" shape="round">
        {{ counter == 4 ? 'Finalizar' : 'Formulario'}}
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

    <!--Skeleton -->
      <ion-skeleton-text [animated]="true" style="width: 100%; height: 10rem;"  *ngIf="!loaded">
       </ion-skeleton-text>
    <!-- Skeleton End-->
    <div class="pagination-site-back" [ngClass]="{'highlight': isPreviousHighlighted}" (click)="onPrevious()"
      *ngIf="counter > 1 || isPreviousHighlighted">
    </div>
    <div class="pagination-site-next" [ngClass]="{'highlight': isNextHighlighted}" (click)="onNext()"
      *ngIf="counter != 4 || isNextHighlighted">
    </div>

    <div [@animImageSlider]="counter" [ngClass]="{'margin-top-5':!isLandscape}">
      <section class="section-padding" [ngClass]="{'padding-top-0':!isLandscape,'margin-top-0':!isLandscape}"
        *ngIf="counter === 1">
        <h2>Paso {{counter}} <small>Seleccione el provedor</small></h2>
        <ion-grid>
          <ion-row>
            <ion-col [size]="isLandscape  ? 6 : 12" class="panel1">
              <h6>Fecha de Transacción</h6>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
              <div class="margin-top-1">Detalle del viaje</div>
              <ion-textarea (ionInput)="saveCurrentDelivery()" class="description margin-top-1"
                [(ngModel)]="description"></ion-textarea>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime (ionChange)="changeDateTransaction($event)" presentation="date"
                    id="datetime"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col [size]="isLandscape  ? 6 : 12">
              <ion-list *ngIf="providers.length > 0">
                <ion-searchbar show-clear-button="always" placeholder="Buscar proveedor"
                  (ionInput)="findProviders($event)"></ion-searchbar>
                <ion-item lines="none" class="check-provider" *ngFor="let provider of _providersFilter"
                  [ngClass]="{'select': providersIdsSelected.includes(provider.id)}"
                  (click)="selectProvider(provider)">{{provider.name}}</ion-item>
              </ion-list>
              <ion-list *ngIf="providers.length == 0">
                <ion-skeleton-text class="check-provider" [animated]="true"></ion-skeleton-text>
                <ion-skeleton-text class="check-provider" [animated]="true"></ion-skeleton-text>
                <ion-skeleton-text class="check-provider" [animated]="true"></ion-skeleton-text>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>

      <section class="section-padding" *ngIf="counter === 2">
        <h2>Paso {{counter}} <small>Seleccione los clientes</small></h2>
        <ion-list>
          <ion-item>
            <ion-buttons slot="start" *ngIf="_clientsFilter.length>0">
              <div class="checkbox" (click)="toogleClients(true)" *ngIf="isAllClearClient()"></div>
              <div class="checkbox selected" (click)="toogleClients(false)" *ngIf="isAllSelectedClient()">
                <ion-icon name="checkmark-outline"></ion-icon>
              </div>
              <div class="checkbox partial" (click)="toogleClients(true)" *ngIf="isPartialSelectedClient()">
                <div class="triangle triangle-client"></div>
              </div>
            </ion-buttons>
            <ion-buttons slot="start" *ngIf="_clientsFilter.length==0">
              <div class="checkbox"></div>
            </ion-buttons>
            <ion-searchbar show-clear-button="always" placeholder="Buscar cliente"
              (ionInput)="findClient($event)"></ion-searchbar>
          </ion-item>
          <ion-grid>
            <ion-row>
              <ion-col [size]="isLandscape? 6 : 12" *ngFor="let clientCss of _clientsFilter">
                <ion-row (click)="selectClient(clientCss.client, false)">
                  <ion-col size="3">
                    <div class="checkbox" [hidden]="clientCss.selected"></div>
                    <div class="checkbox selected" *ngIf="clientCss.selected">
                      <ion-icon name="checkmark-outline"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col size="9" class="client-name">
                    {{clientCss.client.name}}
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngIf="_clientsFilter.length == 0">
                No hay resultados para esta consulta
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </section>

      <section class="section-padding" *ngIf="counter === 3">
        <h2 class="item-title">Paso {{counter}} <small>Seleccione las categorías</small></h2>
        <ion-grid>
          <ion-row class="header-row">
            <ion-col size="2">
              <div class="checkbox" (click)="toogleProductCatalogList(true)" *ngIf="isAllClearProductCatalog()"></div>
              <div class="checkbox selected" (click)="toogleProductCatalogList(false)" *ngIf="isAllSelectedProductCatalog()">
                <ion-icon name="checkmark-outline"></ion-icon>
              </div>
              <div class="checkbox partial" (click)="toogleProductCatalogList(true)" *ngIf="isPartialSelectedProductCatalog()">
                <div class="triangle"></div>
              </div>
            </ion-col>
            <ion-col size="5" class="ion-text-start">Calidad</ion-col>
            <ion-col size="5">Precio x Unidad</ion-col>
          </ion-row>
          <ion-row (click)="selectProductCatalog(productCatalogCss.productCatalog,false)" *ngFor="let productCatalogCss of productCatalogs">
            <ion-col size="2">
              <div class="checkbox" [hidden]="findProductInList(productCatalogCss.productCatalog)"></div>
              <div class="checkbox selected" *ngIf="findProductInList(productCatalogCss.productCatalog)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="5">{{productCatalogCss.productCatalog.name}}</ion-col>
            <ion-col size="5">
              <input class="item-input" placeholder="$ 0.00" [(ngModel)]="productCatalogCss.price" type="number"
                (keyup)="saveCurrentDelivery()" (click)="inputClick($event)">
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>

      <section class="section-padding padding-right-0" *ngIf="counter === 4">
        <div class="legend">
          <h4> Viaje {{getProviderSelectName()}} - <small>{{ transactionDate | Fecha }}</small></h4>
          <h6 class="color-gray">{{ description }}</h6>
          <h5 *ngIf="getTotalDeliveryPrice() > 0" class="margin-bottom-0">
            Total Viaje por {{ getTotalDeliveryPrice() | COP }}
          </h5>
          <h6 *ngIf="getTotalDeliveryUnits() > 0">
            Total {{ getTotalDeliveryUnits() }} {{ getTotalDeliveryUnits() > 1 ? 'unidades' : 'unidad'}}
          </h6>
        </div>
        <br />
        <ion-grid class="form-delivery-table padding-right-0">
          <ion-row class="head-row border-bottom">
            <ion-col size="4" class="first-child">Calidad</ion-col>
            <ion-col size="2">Unidades</ion-col>
            <ion-col size="3">Valor Unidad</ion-col>
            <ion-col size="3" class="last-child">Total Viaje</ion-col>
          </ion-row>
          <ng-container *ngFor="let productCatalogCss of productCatalogs; let ind = index">
            <ion-row class="body-row border-bottom item-row background-color-light-blue"
              (click)="toogleListClientInProductCatalog(productCatalogCss,ind)" *ngIf="productCatalogCss.selected">
              <ion-col size="4" id="table-item-id-{{productCatalogCss.productCatalog.id}}">
                <span class="icon-plus color-gray" [ngClass]="{'small':showClientInItem}">{{showClientInItem ?
                  '-':'+'}}</span>
                <div class="icon-plus-line" [ngStyle]="{'height':(productCatalogCss.clients?.length * 2.2) + 'rem'}"
                  *ngIf="showClientInItem"></div>
                {{ productCatalogCss.productCatalog?.name }}
              </ion-col>
              <ion-col size="2" class="ion-text-center">{{ getTotalProductCatalogUnits(productCatalogCss) }}</ion-col>
              <ion-col size="3" class="ion-text-center">{{ productCatalogCss.productCatalog.price | COP }}</ion-col>
              <ion-col size="3" class="ion-text-end">{{ getTotalProductCatalogPrice(productCatalogCss) | COP }} </ion-col>
            </ion-row>
            <ng-container *ngFor="let clientCss of productCatalogCss.clientsCss">
              <ion-row *ngIf="productCatalogCss.selected && clientCss.selected && ( showClientInItem || clientCss.unit > 0 ) "
                class="body-row border-bottom">
                <ion-col size="4">{{ clientCss.client.name }}</ion-col>
                <ion-col size="2" class="input-col">
                  <input type="number" placeholder="0" (click)="inputClick($event)" [(ngModel)]="clientCss.unit"
                    (keyup)="saveCurrentDelivery()" maxlength="4" size="4" />
                </ion-col>
                <ion-col size="3" class="input-col">
                  <input type="number" [placeholder]="formatPrice(productCatalogCss.productCatalog.price)" [(ngModel)]="clientCss.price"
                    (keyup)="saveCurrentDelivery()" (click)="inputClick($event)" maxlength="4" size="4" />
                </ion-col>
                <ion-col size="3" class="ion-text-end">{{ (clientCss.unit ? clientCss.unit : 0) * ( clientCss.price ?
                  clientCss.price : productCatalogCss.productCatalog.price ?
                  productCatalogCss.productCatalog.price : 0) | COP }}</ion-col>
              </ion-row>
            </ng-container>
          </ng-container>
        </ion-grid>
      </section>
    </div>
  </div>

</ion-content>