/********/
.cd-container {
    position: relative;
    margin-top: 2em;
    display: flex;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7rem;
    height: 4px;
    width: 80%;
    background: var(--color-timeline);
}

.button-section {
    margin: auto;
    margin-top: -1.3rem;
    --background-activated: var(--ion-color-primary-shade);
    --background-focused: var(--ion-color-primary-tint);
    --border-width: 2px
}

.cd-container.portrait::before {
    left: 0;
    height: 4px;
    width: 100%;
}

@media (orientation: portrait) and (max-width: 480px) {
    .btn1,
    .btn2,
    .btn3,
    .btn4,
    .btn5 {
        --padding-end: 0.5rem;
        --padding-start: 0.5rem;
    }
}

.cd-container.portrait {
    .btn1 {
        position: relative;
        top: -1rem;
    }

    .btn2 {
        position: relative;
        top: 3.9rem;
        right: 2rem;
    }

    .btn3 {
        position: relative;
        top: -1rem;
        right: 2rem;
    }

    .btn4 {
        position: relative;
        top: 4rem;
        right: calc(10% - 2rem);
    }

    .btn5 {
        position: relative;
        top: 1.2rem;
    }

    @media only screen and (max-width: 420px) {
        .btn3 {
            right: -1rem;
        }

        .btn4 {
            right: 4rem;
        }

        .btn5 {
            position: relative;
            top: 3.9rem;
            right: 3.7rem;
        }

        .btn5.client-bag {
            right: 3.7rem;
        }

        .btn5.item-bag {
            right: 4.9rem;
        }

        .btn5::before {
            content: "";
            position: absolute;
            top: -1rem;
            left: 29px;
            height: 100%;
            width: 3px;
            background: var(--color-timeline);
        }
    }

    @media only screen and (max-width: 365px) {
        .btn3 {
            right: 1.1rem;
        }

        .btn5 {
            right: 5.9rem;
        }

        .btn5.client-bag {
            right: 5.8rem;
        }

        .btn5.item-bag {
            right: 7rem;
        }
    }

    .btn1::before,
    .btn2::before,
    .btn3::before,
    .btn4::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 28px;
        height: 100%;
        width: 3px;
        background: var(--color-timeline);
    }

    .btn2::before,
    .btn4::before {
        top: -1rem;
    }
}

.cd-container.portrait::before {
    top: 23px;
}

.button-section.disabled::part(native) {
    background: white;
}


.padding-top-0 {
    padding-top: 0;
}

.transaction-date {
    display: flex;

    ion-datetime-button {
        margin-left: 1rem;
    }
}

.client-name {
    margin-top: 0.4rem;
}

.panel1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

ion-modal {
    color: #000;
}

ion-datetime {
    --background: #fff1f2;
    --background-rgb: 255, 241, 242;

    border-radius: 16px;
    box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}


.description {
    border: 1px solid gray;
    border-radius: 14px;
    padding: 1rem;
}

.section-padding {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
    min-height: 100vh;
}

h2 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.price-mark {
    padding-right: 2rem;
}

.item-title {
    margin: 0;
    margin-bottom: 1rem;
}

.item-input {
    border: 1px solid gray;
    border-radius: 11px;
    margin-left: 0;
    height: 2rem;
    background-color: white;
    width: 100%;
    padding-left: 2rem;
}

.check-provider {
    border: 1px solid gray;
    border-radius: 16px;
    margin-bottom: 0.8rem;
    min-height: 2.8rem;
}

.check-provider.select {
    --background: var(--ion-color-primary-tint);
    color: var(--ion-color-primary-contrast);
}

ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
}

.checkbox-item {
    border-bottom: 1px solid lightgray;
}

.checkbox {
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
    border: 2px solid #6815ec;
}

.checkbox-item .text {
    margin-right: 1rem;
    text-align: right;
}

.checkbox.selected {
    border-radius: 6px;
    border: 2px solid #6815ec;
    background: #6815ec;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

/*Tabla */
.form-delivery-table {

    font-size: .8rem;

    .item-row {
        text-transform: uppercase;
        font-weight: 500;
    }

    .head-row {
        text-transform: uppercase;
        background-color: var(--ion-color-warning);
        color: var(--ion-color-warning-contrast);
        font-weight: 500;
        text-align: center;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        ion-col {
            padding: 0.5rem;
        }
    }

    .body-row {
        padding: 0 1rem;
    }

    .body-row ion-col {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.8rem;

        input {
            width: 100%;
            background-color: white;
            color: black;
            border: 1px solid gray;
            border-radius: 9px;
            height: 1.6rem;
            padding-left: 1rem;
        }
    }

    .input-col {
        padding-left: 1% !important;
        padding-right: 1% !important;
        padding-top: 0.6rem !important;
    }

}


.triangle {
    border-right: 1.88rem solid #6815ec;
    border-top: 2rem solid transparent;
    position: absolute;
    top: 0.3rem;
    border-radius: 6px;
}

.triangle-client {
    top: 0rem;
    left: 0rem;
}

.button-next-form {
    position: absolute;
    right: -3rem;
    font-size: 2rem;
    top: -2.3rem;

    ion-icon {
        color: var(--color-timeline);
    }
}

.button-next-form::part(native) {
    padding-left: 0;
}

.legend {
    margin-top: -1rem;

    h6 {
        margin-top: 0.2rem !important;
    }
}


.title-float {
    position: absolute;
    top: -0.6rem;
    left: 100%;
    width: 100%;
    transform: translateX(-100%);
}

.price-float {
    position: absolute;
    top: 1.3rem;
    left: 100%;
    width: 100%;
    transform: translateX(-100%);
}

.pagination-site-back::before,
.pagination-site-next::before {
    content: "";
    position: fixed !important;
    top: 50%;
    border-style: solid;
    opacity: 0.25;
    z-index: 10;
}

.pagination-site-back::before {
    border-width: 4rem 0.67em 5rem 0;
    border-color: transparent #808080 transparent transparent;
    margin-left: -0.4em;
}

.pagination-site-next::before {
    border-width: 4rem 0 4rem 0.67em;
    border-color: transparent transparent transparent #808080;
    margin-left: calc(100% - 3rem) !important;
}


.icon-plus {
    position: absolute;
    left: -2rem;
    font-size: 1.4rem;
    top: 0.3rem;
}

.icon-plus-line {
    position: absolute;
    margin-left: -1.6rem !important;
    margin-top: 1.2rem;
}

.icon-plus-line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: lightgray;
}

.icon-plus.small {
    font-size: 3rem;
    top: -0.7rem;
    left: -2rem;
}

.pagination-site-next.highlight::before {
    box-shadow: -11px 0 19px 2px #ffcc00;
    border-color: transparent transparent transparent #ffcc00;
}

.pagination-site-back.highlight::before {
    box-shadow: 8px 0 19px 2px #ffcc00;
    border-color: transparent #ffcc00 transparent transparent;
}