.header-back-button {
    width: 3.5rem;
}

.header-content {
    position: absolute;
    z-index: 100;
    left: 3rem;
    top: 0px;
    width: 100%;
}

.header-content-icon {
    width: 100%;
    height: 100%;
}

/*Table CSS Styles*/
.table {
    background-color: var(--mat-table-background-color, #fff);
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

ion-col,
.row-head tr th,
.row-body tr td,
.row-foot tr th {
    padding: 1rem 0.5rem;
}

.row-head {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.76);
}

.column-sort {
    display: flex;
    justify-content: center;
}

.row-body {
    font-size: 0.9rem;
    text-align: center;
}

.foot-cell-start {
    text-align: left;
    padding-left: 1rem !important;
}

.row-foot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.87);
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-weight: bold;
}

.syncRequired{
    border: 2px solid var(--ion-color-warning);
    border-style: dashed;
    background-color: rgb(255, 202, 34, 0.5);
}

.row-is-clicked {
    background-color: var(--ion-color-danger-shade);
    color: var(--ion-color-danger-contrast);
}

.row-is-clicked .negative-value {
    background-color: var(--ion-color-success-shade);
    color: var(--ion-color-success-contrast);
    font-weight: 500;
}

.negative-value {
    color: var(--ion-color-success);
    font-weight: 500;
}

.icon-sort {
    padding-top: 0.1rem;
    margin-left: 0.3rem;
}



.detail-sales-head {
    padding: 0px;
    font-size: 80%;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.1);
}

.detail-sales-body {
    font-size: 80%;
    padding: 0px 0.4rem;
}

.detail-sales-body:last-child {
    border-bottom: 2px solid var(--ion-color-danger-shade);
}

.detail-section {
    overflow: hidden;
    border-left: 3px solid var(--ion-color-danger-shade);
}

.open-filter-modal {
    display: flex;
    color: gray;
}

.filter-icon {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}

.close-date-filter {
    text-align: center;
}

.date-filter-content {
    border: 1px solid gray;
    margin: 9px;
    border-radius: 16px;
}

mat-hint {
    font-size: 0.8rem;
}

mat-form-field {
    width: 11rem;
}

.clear-date-filter {
    margin-left: 3rem;
}

.button-new {
    position: relative;
    left: calc(100% - 5rem);
    top: 0.5rem;
    font-size: 1.25rem;
}

ion-content.popover-actions-content::part(background) {
    border-radius: 7px;
}

ion-content.popover-actions-content,
ion-content.popover-actions-content::part(scroll) {
    background: transparent;
}

ion-popover.popover-actions::part(content) {
    box-shadow: none;
    --background: transparent;
    padding-top: 15px;
}

ion-popover.popover-actions::part(content)::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 1rem;
    border-style: solid;
    border-width: 16px 12px 0;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: rotateX(180deg);
}

.with_0{
    width: 0;;
}
