<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <app-icon-logo></app-icon-logo>
    </ion-buttons>
    <ion-title>Cartera de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true" id="container">
  <ion-searchbar show-clear-button="always" placeholder="Buscar cliente"
    (ionInput)="findClient($event)"></ion-searchbar>

  <h6>Lista de clientes</h6>

  <ion-grid *ngIf="loading" [inset]="true">
    <ion-row  [@filterAnimation]="clientsTotal">
      <ion-col [size]="isLandscape ? 5 : 12" *ngFor="let client of _clientsFilter">
        <ion-button expand="full" (click)="goToClientDetail(client.id)">
          {{ client.name }}
          <ion-icon slot="end" name="caret-forward-outline"></ion-icon>
        </ion-button>         
      </ion-col>
    </ion-row>
  </ion-grid> 

  <ion-list *ngIf="!loading">
    <ion-item>
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>