#container {
  text-align: center;
}

#container a {
  text-decoration: none;
}

ion-grid {
  ion-col {
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    ion-button {
      --background: white;
      border-radius: 6px;
      color: black;
      text-align: left;
      padding: 0;
      margin: 0;
      opacity: 0.6;
    }

    ion-icon {
      color: gray;
      margin-left: auto;
    }
  }
}

