.logo-icon {
    margin: 0 auto;
    width: 6rem;
    border-radius: 33px;
}

.middle-box {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}

.item-box {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    height: 50px;
}

h3 {
    margin: 0 auto;
    line-height: 1.1;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.google-icon::part(native) {
    padding: 1.3rem;
    border-radius: 0.6rem;
}

.google-icon img {
    width: 50px;
    height: 30px;
}

.finger-print {
    ion-button {
        --padding-bottom: 1.4rem;
        --padding-end: .5rem;
        --padding-start: .5rem;
        --padding-top: 1.4rem;
        font-size: 1rem;
    }
}

.avatar-color {
    padding: 1.1rem;
    border-radius: 100%;

    span {
        position: absolute;
        top: 1.2rem;
        margin-left: -0.4rem;
        font-size: 1.2rem;
    }
}

.modal-finger-close {
    position: relative;
}

.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-modal {
    --height: auto;
}

.finger-print-hidden {
    opacity: 0;
    height: 0;
}


.login-message {
    color: gray;
    position: relative;
    display: inline-block;
    font-size: 0.9rem;
}

.login-message::before,
.login-message::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: gray;
}

.login-message::before {
    left: 0;
    transform: translateX(-120%);
}

.login-message::after {
    right: 0;
    transform: translateX(120%);
}

form {

    ion-input,
    ion-button {
        max-width: 18rem;
        margin: auto;
    }
}

.config-button {
    position: absolute;
    left: 2rem;
    font-size: 1.5rem;
    color: lightgray;
}