<ion-content [fullscreen]="true">

  <div class="middle-box">
    <img class="logo-icon ion-padding" src="/assets/corabastos-ico.png" />
    <h3>Bienvenido a AppVentas</h3>
    <p>Iniciar Sesión</p>
    
    <ion-button fill="outline" (click)="signInWithGoogle()" class="google-icon">
      <img src="assets/icon/Google.svg" />
      Ingresar con Google
    </ion-button>

    <form class="ion-padding" novalidate [formGroup]="signinForm" (ngSubmit)="onLogin()">

      <ion-item class="item-box">
        <ion-input type="email" formControlName="email" label="Usuario"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="signinForm.get('email')?.hasError(validation.type) && (signinForm.get('email')?.dirty || signinForm.get('email')?.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>

      <ion-item class="item-box">
        <ion-input type="password" formControlName="password" label="Contraseña"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="signinForm.get('password')?.hasError(validation.type) && (signinForm.get('password')?.dirty || signinForm.get('password')?.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-button type="submit" [disabled]="!signinForm.valid" color="stable" class="item-box btn-primary" expand="full"
        fill="outline">
        Iniciar
      </ion-button>

    </form>

    <div class="finger-print" *ngIf="showFingerPrint">
      <ion-button shape="round" fill="outline" size="small" id="login-finger">
        <ion-icon name="finger-print" slot="icon-only" ></ion-icon>
      </ion-button>
      <br/><br/>
      <ion-label>Ingresa con huella</ion-label>
    </div>
    <br/><br/>
    <small>© 2024</small>
    <br/>
    <br/>
  </div>

</ion-content>