ion-select {
    padding: 1rem;
}

ion-datetime {
    --background: #fff1f2;
    --background-rgb: 255, 241, 242;

    border-radius: 16px;
    box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

mat-card {
    width: 100%;
}

.monto-input {
    margin-top: 1rem;
}

.button-submit {
    width: 100%;
    height: 3rem;
}

.transaction-date {
    margin: auto;
}

.comment-text-area {
    border: 1px solid gray;
    border-radius: 0.4rem;
    padding: 0.5rem;
}


/*table detail sales*/
.detail-sales-head {
    padding: 0px;
    font-size: 80%;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.1);
    height: 2rem;
    text-align: center;

    ion-col {
        align-self: center;
    }
}

.detail-sales-body {
    font-size: 80%;
    padding: 0px 0.4rem;
}

.detail-sales-body:last-child {
    border-bottom: 2px solid var(--ion-color-medium);
}

.detail-section {
    overflow: hidden;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
}

.detail-sales-select {
    height: 2rem;
    border: 1px solid;
    padding: 0px 0px 0px 11px;
    max-height: 2rem;
    min-height: 2rem;
}

.detail-sales-input {
    height: 2rem;
    max-height: 2rem;
    min-height: 2rem;
    border: 1px solid;
    padding: 0px 0px 0px 0.7rem !important;
}

ion-select.detail-sales-select::part(label) {
    margin-left: 2rem !important;
}

ion-select.detail-sales-select::part(placeholder) {
    width: 3.8rem;
}

.detail-sales-subtotal {
    width: 100%;
    display: block;
    border: none;
    height: 2rem;
    max-height: 2rem;
    min-height: 2rem;
    padding: 0px 0px 0px 0.7rem !important;

    div {
        padding-top: 0.5rem;
    }
}

.button-new {
    margin-top: 0.6rem;
}