/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.display-flex {
    display: flex;
}

@for $i from -10 through 50 {
    $remValue: $i * 1rem;

    .padding-#{$i} {
        padding: $remValue !important;
    }

    .padding-top-#{$i} {
        padding-top: $remValue !important;
    }

    .padding-left-#{$i} {
        padding-left: $remValue !important;
    }

    .padding-right-#{$i} {
        padding-right: $remValue !important;
    }

    .padding-bottom-#{$i} {
        padding-bottom: $remValue !important;
    }

    .margin-#{$i} {
        margin: $remValue !important;
    }

    .margin-top-#{$i} {
        margin-top: $remValue !important;
    }

    .margin-left-#{$i} {
        margin-left: $remValue !important;
    }

    .margin-right-#{$i} {
        margin-right: $remValue !important;
    }

    .margin-bottom-#{$i} {
        margin-bottom: $remValue !important;
    }
}